<div class="row row-cols-3">
  <% for (project of data) { %>
  <div class="project">
    <a class="project__content" data-toggle="modal" data-target="#modal-<%= project.name %>">
      <div class="project__thumbnailContainer">
        <img class="project__thumbnail" src="assets/thumbnails/<%= project.thumbnail %>" alt="<%= project.name %> Project Thumbnail" />
      </div>
      <div class="project__name"><%= project.name %></div>
      <div class="project__overlay text-center">
        <%= project.shortDescription %>
      </div>
    </a>
  </div>
  <% } %>
</div>
<div>
<% for (project of data) { %>
  <div class="modal fade" id="modal-<%= project.name %>" tabindex="-1" aria-labelledby="modal-<%= project.name %>-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-<%= project.name %>-label"><%= project.name %></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 class="project__catchphrase">
            <%= project.shortDescription %>
          </h5>
          <% for (paragraph of project.longDescription) { %>
          <p><%= paragraph %></p>
          <% } %>
          <div id="<%= project.name %>-carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <% for (let i=0; i<project.screenshotCount; i++) { %>
              <li data-target="#<%= project.name %>-carousel" data-slide-to="<%= i %>" <% if (i === 0) { %> class="active" <% } %>></li>
              <% } %>
            </ol>
            <div class="carousel-inner">
              <% for (let i=0; i<project.screenshotCount; i++) { %>
              <div class="carousel-item <% if (i === 0) { %> active <% } %>">
                <img src="content/screenshots/<%= project.name %>/<%= i %>.png" class="d-block w-100" alt="<%= project.name %> Screenshot <%= i %>"/>
              </div>
              <% } %>
            </div>
            <a class="carousel-control-prev" href="#<%= project.name %>-carousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#<%= project.name %>-carousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="modal-footer">
          <a class="mr-auto link--invisible link--newtab" href="<%= project.github %>" target="_blank">
            <img src="assets/icons/github.svg" alt="GitHub Logo" class="footer__icon"/>
            Check out the source
          </a>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% } %>
</div>
